.iphone-calculator__buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "cancel plusminus percentage divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimalplace equal";
    gap:10px;

    @each $skill in (cancel, plusminus, percentage, divide, seven, eight, nine, multiply, four, five, six, minus, one, two, three, plus, zero, decimalplace, equal)  {
        &-#{$skill} {
            grid-area: #{$skill};
            border-radius: 8px;
            cursor: pointer;
        }
    }
    
    @each $skill in (divide, multiply, minus, plus, equal){
        &-#{$skill}{
            background-color: orange;
        &:hover{
            background-color: darken(orange, 10%);
        }
        }
        
    }

    @each $skill in (cancel, plusminus, percentage){
        &-#{$skill}{
            background-color: #36454F;
            color:black;
        &:hover{
            background-color: darken(#36454F, 10%);
        }
        }
    }
    
    @each $skill in (seven, eight, nine, four, five, six, one, two, three, zero, decimalplace)  {
        &-#{$skill} {
            background-color: grey;

        &:hover{
            background-color: darken(grey, 10%);
        }
        }
    }
}