.iphone-calculator__buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "cancel plusminus percentage divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimalplace equal";
    gap:10px;

    @each $skill in (cancel, plusminus, percentage, divide, seven, eight, nine, multiply, four, five, six, minus, one, two, three, plus, zero, decimalplace, equal)  {
        &-#{$skill} {
            grid-area: #{$skill};
            height:50px;
            // border: 2px solid grey;
            border-radius: 4px;
            cursor: pointer;
        &:hover{
            background-color: blue
        }  
        }

    }
    @each $skill in (divide, multiply, minus, plus, equal){
        &-#{$skill}{
            background-color: orange;
            // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            
        }
    }
    @each $skill in (cancel, plusminus, percentage){
        &-#{$skill}{
            background-color: darkgrey;
            color:black;
        }
    }
    @each $skill in (seven, eight, nine, four, five, six, one, two, three, zero, decimalplace)  {
        &-#{$skill} {
            background-color: grey;
            // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
}