@use "./buttons";
@use "./display";

* {
  background-color: black;
  color: white;
  padding: 10px;
  font: bold 24px arial;
}

.iphone-calculator {
  border: 2px solid orange;
  border-radius: 16px;
  max-width: 80%;
  margin: 0 auto;
  height:auto;
}

@media screen and (min-width: 768px) {
  .iphone-calculator{
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .iphone-calculator{
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .iphone-calculator{
    max-width: 20%;
  }
}


@media screen and (min-width: 1440px) {
  .iphone-calculator{
    max-width: 20%;
  }
}