.iphone-calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "cancel plusminus percentage divide" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero decimalplace equal";
  gap: 10px;
}
.iphone-calculator__buttons-cancel {
  grid-area: cancel;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-plusminus {
  grid-area: plusminus;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-percentage {
  grid-area: percentage;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-divide {
  grid-area: divide;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-seven {
  grid-area: seven;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-eight {
  grid-area: eight;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-nine {
  grid-area: nine;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-multiply {
  grid-area: multiply;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-four {
  grid-area: four;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-five {
  grid-area: five;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-six {
  grid-area: six;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-minus {
  grid-area: minus;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-one {
  grid-area: one;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-two {
  grid-area: two;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-three {
  grid-area: three;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-plus {
  grid-area: plus;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-zero {
  grid-area: zero;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-decimalplace {
  grid-area: decimalplace;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-equal {
  grid-area: equal;
  border-radius: 8px;
  cursor: pointer;
}
.iphone-calculator__buttons-divide {
  background-color: orange;
}
.iphone-calculator__buttons-divide:hover {
  background-color: #cc8400;
}
.iphone-calculator__buttons-multiply {
  background-color: orange;
}
.iphone-calculator__buttons-multiply:hover {
  background-color: #cc8400;
}
.iphone-calculator__buttons-minus {
  background-color: orange;
}
.iphone-calculator__buttons-minus:hover {
  background-color: #cc8400;
}
.iphone-calculator__buttons-plus {
  background-color: orange;
}
.iphone-calculator__buttons-plus:hover {
  background-color: #cc8400;
}
.iphone-calculator__buttons-equal {
  background-color: orange;
}
.iphone-calculator__buttons-equal:hover {
  background-color: #cc8400;
}
.iphone-calculator__buttons-cancel {
  background-color: #36454F;
  color: black;
}
.iphone-calculator__buttons-cancel:hover {
  background-color: #212b31;
}
.iphone-calculator__buttons-plusminus {
  background-color: #36454F;
  color: black;
}
.iphone-calculator__buttons-plusminus:hover {
  background-color: #212b31;
}
.iphone-calculator__buttons-percentage {
  background-color: #36454F;
  color: black;
}
.iphone-calculator__buttons-percentage:hover {
  background-color: #212b31;
}
.iphone-calculator__buttons-seven {
  background-color: grey;
}
.iphone-calculator__buttons-seven:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-eight {
  background-color: grey;
}
.iphone-calculator__buttons-eight:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-nine {
  background-color: grey;
}
.iphone-calculator__buttons-nine:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-four {
  background-color: grey;
}
.iphone-calculator__buttons-four:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-five {
  background-color: grey;
}
.iphone-calculator__buttons-five:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-six {
  background-color: grey;
}
.iphone-calculator__buttons-six:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-one {
  background-color: grey;
}
.iphone-calculator__buttons-one:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-two {
  background-color: grey;
}
.iphone-calculator__buttons-two:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-three {
  background-color: grey;
}
.iphone-calculator__buttons-three:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-zero {
  background-color: grey;
}
.iphone-calculator__buttons-zero:hover {
  background-color: #676767;
}
.iphone-calculator__buttons-decimalplace {
  background-color: grey;
}
.iphone-calculator__buttons-decimalplace:hover {
  background-color: #676767;
}

.iphone-calculator__display {
  display: flex;
  width: auto;
  height: 100px;
  padding: 20px;
  margin: 20px;
  border: orange solid;
}
.iphone-calculator__display-input {
  width: 100%;
  height: auto;
}

* {
  background-color: black;
  color: white;
  padding: 10px;
  font: bold 24px arial;
}

.iphone-calculator {
  border: 2px solid orange;
  border-radius: 16px;
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .iphone-calculator {
    max-width: 30%;
  }
}/*# sourceMappingURL=style.css.map */